* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}


@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

/* .update-container {
  width: 100%;
}

.form-container {
  display: inline-block;
  width: 46%;
  float: left;
}*/

.tables-container {
  margin-top: 8vh;
  margin-right: 1vh;

} 

.table-container {
  margin-bottom: 10px;
}

label {
  font-size: 0.9em;
}

/* #autorizados {
  float: right;
} */

thead {
  background-color: rgba(241, 190, 21, 0.5);
}
/* Anchura máxima para móviles */
@media (max-width: 767px) {
  .navbar-nav .nav-link {
    padding-left: 1rem;
    width: 150px;
    font-size: 1em;
    font-weight: bold;
  }
}
/* Anchura mínima para tabletas y pantallas más grandes */
@media (min-width: 768px) {
  .navbar-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
  }

  .navbar-nav .nav-item {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
  }
  .navbar-nav .dropdown-item {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;
    font-weight: bold;
  }
}
.navbar {
  background-color: #313131;
  padding: 10px;
  
}


/* Estilos personalizados para Navbar.Toggle */
.navbar-toggler-icon {
  width: 1rem;
  height: 1rem;
}

.navbar-toggler {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  
}


#img_maquinaria {
  width: 400px;
  height: 400px;
  margin-left: 40px
}