* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

/* .update-container {
  width: 100%;
}

.form-container {
  display: inline-block;
  width: 46%;
  float: left;
}*/

.tables-container {
  margin-top: 8vh;
  margin-right: 1vh;

} 

.table-container {
  margin-bottom: 10px;
}

label {
  font-size: 0.9em;
}

/* #autorizados {
  float: right;
} */

thead {
  background-color: rgba(241, 190, 21, 0.5);
}

.sidebar {
  background-color: #313131;
  padding: 20px;
  height: 130%;
  
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 200px;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.2em;
}


.sidebar .sub-menu {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
}

.sidebar .sub-menu li {
  margin-bottom: 5px;
}

.sidebar .sub-menu a {
  color: #6786a0;
  font-size: 1em;
}

.sidebar .sub-menu a:hover {
  color: #2bff00;
}

#img_maquinaria {
  width: 400px;
  height: 400px;
  margin-left: 40px
}